<ion-header>
  <ion-toolbar>
    <ion-title>Login Page</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
 
    <ion-input type="email"  [(ngModel)]="email" placeholder="enter email" class="input_email"></ion-input>
    <ion-input type="password"  [(ngModel)]="password" placeholder="enter password" class="input_password"></ion-input>
    <ion-button color="secondary" class="login-btn" (click)="login()">Login Btn</ion-button>

<!-- Toggles in a List -->

<!-- 
 <ion-item>
  <ion-toggle slot="end"  (ionChange)="change()" class="toggle" [(ngModel)]="active"></ion-toggle> -->
<!-- <p [(ngModel)]="active"></p> -->
  <!-- <p >{{toggleposition}}</p>
 </ion-item> --> 
 <!-- <label class="switch">
  <input type="checkbox" checked>
  <span class="slider round"></span>
</label> -->
<!-- <div id="div_top_hypers">
  <ul id="ul_top_hypers">
      <li>&#8227; <a href="" class="a_top_hypers"> Inbox</a></li>
      <li>&#8227; <a href="" class="a_top_hypers"> Compose</a></li>
      <li>&#8227; <a href="" class="a_top_hypers"> Reports</a></li>
      <li>&#8227; <a href="" class="a_top_hypers"> Preferences</a></li>
      <li>&#8227; <a href="" class="a_top_hypers"> logout</a></li>
  </ul>
</div> -->

</ion-content>
