.input_email{
  margin-top: 100px;

    text-align: center;
    color: black;
    width: 50%;
    margin-left: 25%;
    border: solid green 2px;
    border-radius: 15px;
}.input_password{
 
    text-align: center;
    color: black;
    width: 50%;
    margin-left: 25%;
    border: solid green 2px;
    border-radius: 15px;
    margin-top: 10px;
}.login-btn{
  margin-top: 20px;
  width: 50%;
  margin-left: 25%;
  color: green;

}
// .toggle{
 

// }.switch {
//     position: relative;
//     display: inline-block;
//     width: 60px;
//     height: 34px;
//   }
  
//   .switch input { 
//     opacity: 0;
//     width: 0;
//     height: 0;
//   }
  
//   .slider {
//     position: absolute;
//     cursor: pointer;
//     top: 0;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     background-color: #ccc;
//     -webkit-transition: .4s;
//     transition: .4s;
//   }
  
//   .slider:before {
//     position: absolute;
//     content: "";
//     height: 26px;
//     width: 26px;
//     left: 4px;
//     bottom: 4px;
//     background-color: white;
//     -webkit-transition: .4s;
//     transition: .4s;
//   }
  
//   input:checked + .slider {
//     background-color: blue;
//   }
  
//   input:focus + .slider {
//     box-shadow: 0 0 1px #2196F3;
//   }
  
//   input:checked + .slider:before {
//     -webkit-transform: translateX(26px);
//     -ms-transform: translateX(26px);
//     transform: translateX(26px);
//   }
  
//   /* Rounded sliders */
//   .slider.round {
//     border-radius: 34px;
//     background:cyan;
//   }
  
//   .slider.round:before {
//     border-radius: 50%;
//   }.div_top_hypers {
//     background-color:#eeeeee;
//     display:inline;      
// }
// .ul_top_hypers {
//     display: flex;
//     justify-content:space-around;
//     list-style-type:none;
// }