<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <img src="../../assets/images/tally_chart-512.png" width="30px" height="30px">
      <ion-label>Scores</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <img src="../../assets/images/images.png" width="33px" height="33px"  >
      <ion-label>Teams</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <img src="../../assets/images/cover-image-13.png" width="33px" height="33px"  >
      <ion-label>Cities</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
