<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab One is here ??
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  jhfvbjlfl

<ion-label style="background-color: red;">{{value}}</ion-label>

</ion-content>
