ion-input{
    border-radius:15px;
    border: solid green 2px;
    margin-top: 20px;
    width: 50%;
    margin-left: 25%;
    text-align: center;
}
ion-button{
    width: 50%;
    margin-left: 25%;
    color: black;
    margin-top: 20px;
}