<ion-header>
  <ion-toolbar>
    <ion-title>Signup</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="margin-top: 100px;">
    <ion-input type="email" [(ngModel)]="email" placeholder="enter email"></ion-input>
    <ion-input type="password" [(ngModel)]="password" placeholder="enter password"></ion-input>
  <ion-button color="secondary" (click)="signup()">Signup</ion-button>
  <ion-button color="Danger" (click)="login()">Move to Login</ion-button>

  </div>

</ion-content>
